.register-container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/pruew2-cover_modi_5.jpg');
    background-size: cover;
    background-position: center;
}

.register-container{
    width: 100%;
    max-width: 400px;
    background: rgba(44, 43, 124, 0.21);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(33, 17, 255, 0.13);
}


.logo-container{
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fefefe7d;
    border-bottom: 1px solid #000000;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.1);
    padding: 20px 0px 0px;
}

.logo-container img{
    width: 150px;
    height: auto;
}

#lblLogo{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: #001b7b;
    font-size: 2em;
}

.register-form{
    padding: 20px;
}

.register-text{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.5em;
}

.register-form a{
    color: #001aff;
    text-decoration: none;
    font-weight: bold;
}

.register-form a:hover{
    text-decoration: underline;
}

.register-form a:focus{
    outline: none;
    color: rgba(255, 0, 0, 0.5);
}