#FrmForgotPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/pruew2-cover_modi_5.jpg');
    background-size: cover;
    background-position: center;
}

.forgot-password-container{
     width: 100%;
    max-width: 400px;
    background: rgba(44, 43, 124, 0.21);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(33, 17, 255, 0.13);
}

.logo-container{
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #fefefe7d;
    border-bottom: 1px solid #000000;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.1);
    padding: 20px 0px 0px;
}

.logo-container img{
    width: 150px;
    height: auto;
}

#lblLogo{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: #001b7b;
    font-size: 2em;
}

.forgot-password-form{
    padding: 10px 20px;
    color: #ffffff;
}

.forgot-password-text{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.1em;
}

.form-Email{
    margin-bottom: 20px;
}

.lblEmailClass{
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.input-container input{
   padding: 10px 12px 10px 40px;
    border: none;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    background: rgba(48, 46, 133, 0.064);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.2px);
    -webkit-backdrop-filter: blur(20.2px);
    border: 2px solid rgba(33, 17, 255, 0.233);
    color: #ffffff;
}

.input-container input::placeholder {
    color: #ffffff;
    opacity: 0.7;
}

.input-container input:hover {
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-container input:focus + .input-container i {
    background-color: #00040c;
}


.input-container i{
    position: absolute;
    left: 35px;
    /* top: 50%; */
    transform: translateY(70%);
    color: #0f015d;
    font-size: 1em;
}


.form-Submit {
    text-align: center;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 25px;
}

#btnSubmit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 100%;
}

#btnSubmit:hover {
    background-color: #0056b3;
}

#btnSubmit:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* a{
    color: #ffffff;
    text-decoration: none;
} */