form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/pruew2-cover_modi_5.jpg');
    background-size: cover;
    background-position: center;
}

.login-container{
    /* width: 100%;
    max-width: 400px;
    background-color: #f4f4f4;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border: 2px solid #000000; */

    width: 100%;
    max-width: 400px;
    background: rgba(44, 43, 124, 0.21);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(33, 17, 255, 0.13);
}

.logo-container{
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fefefe7d;
    border-bottom: 1px solid #000000;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.1);
    padding: 20px 0px 0px;
}

.logo-container img{
    width: 150px;
    height: auto;
}

#lblLogo{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: #001b7b;
    font-size: 2em;
}

.login-form{
    padding: 20px;
}

.form-Email{
    margin-bottom: 20px;
}

.form-Password{
    margin-bottom: 10px;
}

.lblEmailClass,
.lblPasswordClass{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1em;
}

.input-container{
    position: relative;
}


.input-container input {
    padding: 10px 40px 10px 40px;
    border: none;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    background: rgba(48, 46, 133, 0.064);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.2px);
    -webkit-backdrop-filter: blur(20.2px);
    border: 2px solid rgba(33, 17, 255, 0.233);
    color: #ffffff;
}

.input-container input::placeholder {
    color: #ffffff;
    opacity: 0.7;
}

.input-container input:hover {
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-container input:focus + .input-container i {
    background-color: #00040c;
}


.icon-input {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #0f015d;
    font-size: 1em;
}

.form-forgot-password {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
}

.from-Submit {
    text-align: center;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 25px;
}

.from-Submit button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 100%;
}

.from-Submit button:hover {
    background-color: #0056b3;
}

.from-Submit button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-register {
    text-align: center;
    color: white;
}
.form-register a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-version{
    text-align: right;
    color: #FFFFFF;
    font-size: 0.8em;
    margin-top: 20px;
}

.togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #0f015d;
    font-size: 1em;
}