body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.nav-links {
    margin-left: 20px;
    /* flex-grow: 1; */
    display: flex;
    gap: 20px;
}

.nav-links-child {
    display: flex;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links-child:hover {
    color: #007bff;
}

.header-right {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar{
    border: none;
    padding-right: 15px;
    border-right: #ccc 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.activated-search{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 22;
    display: flex;
    /* top: 0; */
    right: 0;
    left: 0;
    gap: 10px;
    background-color: #f8f9fa;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.search-icon {
    /* position: absolute; */
    /* left: 10px; */
    color: #121212;
    background-color: #ffffff;
    border: 1px #ccc solid;
    display: flex;
    align-items: center;
    gap: 5px;  
    /* padding-right: 10px; */
    border-radius: 5px;
    box-shadow: 3px 2px 1px #ccc;
    transition: all 0.3s ease;

}

.lo-search{
    /* width: 30px; */
    /* height: 30px; */
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.1em;
    background-color: #c6c6c6c9;
    cursor: pointer;
}

.lo-search:hover{
    background-color: #c6c6c6;
}

.search-icon input[type="search"] {
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

.search-icon input[type="search"]:focus {
    border-color: #007bff;
    outline: none;
}

.close-search{
    background-color: #ff0000;
    right: 40px;
    width: 35px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    height: 35px;
    box-shadow: 3px 2px 1px #ccc;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5em;
}

.close-search:hover {
    background-color: #f60a0a68;
    box-shadow: none;
    color: #fff;
    transition: all 0.3s ease;
}

.close-search:focus {
    outline: none;
    box-shadow: none;
}

.search-open {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.activated-search-off{
    display: none;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-profile:hover .drop-profile {
    display: flex;
}


.drop-profile{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 5px;
    transition: all 0.3s ease;
    background-color: #007baa;
    padding: 10px 20px;
    border: #0026ffaa 1px solid;
    border-radius: 5px;
    cursor: pointer;
    clip-path: polygon(92% 0%, 95% 6%, 100% 6%, 100% 100%, 0% 100%, 0 6%, 88% 6%);
}

.drop-profile-item{
    color: #fff;
    cursor: pointer;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    font-size: 1.1rem;
    text-decoration: none;
}

.drop-profile-item:hover{
    color: #1f00aaf8;
    text-decoration: underline;
}

.profile-dropdown i {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.user-profile:hover .profile-dropdown i {
    color: #007bff;
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

main {
    padding: 20px;
    margin-top: 5px; 
}

footer{
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
    color: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}